body {
	margin: 0;
	background-color: white;
	font: 400 15px/1.8 Lato, sans-serif;
    color: #777;

}

#backgroundDiv {
	/**background-image: url('../images/DrewRoberts.jpg');*/
	/**background-image: url('../images/niche3.png');*/
	background-image: url('../images/niche3.png');
	/**background-image: url('../images/TheNiche.png');*/
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
} 

.container {
    /* padding: 80px 120px; */
    padding: 50px 30px;
} 

.carousel-inner > .item {
    margin: 0 auto;
    background-color: black;
}

.carousel-caption1 {
    top: 0;
    bottom: auto;
    padding-top: 50px;
    /* background: rgba(0, 0, 0, 0.5); */
}

.caption-background {
  background:#000000;
  background:rgba(0,0,0,0.5); 
  padding: 10px;
  /*margin-right: 200px;
  margin-left: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 20px;
  width: 50%;
  margin 0 auto; */
}

.navbar {
    margin-bottom: 0;
    /* background-color: #2d2d30; */
    background-color: #000000;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.7;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}

.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
/* .bg-1 p {font-style: italic;} */
